*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    color: whitesmoke;
}

.container{
    position: absolute;
    z-index: 1;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
